.filters {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-sizing: border-box;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  position: relative;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.popover {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #FAFAFA;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}

.popover li {
  padding: 10px 20px;
  box-sizing: border-box;
}

.popover h2 {
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  box-sizing: border-box;
}
